@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-success" asp-action="Login" asp-controller="Empleados">Login</a>
    <a class="btn btn-success" asp-action="Register" asp-controller="Empleados">Registrar Nuevo Empleado</a>
</div>
