@model Empleado
@{
    ViewData["Title"] = "Register";
}

<div class="container d-flex justify-content-center aling-items-center mt-5">
    <div class="card col-md-8" style="box-shadow: 0 0 10px rgb(105, 104, 104);">
        <div class="card-body">
            <h1 class="text-center">Crear Empleado</h1>
        
            <form asp-controller="Empleados" asp-action="Create" method="post">

                <div class="from-group mb-3">
                    <label for="">Nombre:</label>
                    <input asp-for="Names" class="form-control">
                </div>

                <div class="from-group mb-3">
                    <label for="">Apellidos:</label>
                    <input asp-for="LastNames" class="form-control">
                </div>

                <div class="from-group mb-3">
                    <label for="">Correo:</label>
                    <input asp-for="Email" class="form-control">
                </div>

                <div class="from-group mb-3">
                    <label for="">Password:</label>
                    <input type="password" asp-for="Password" class="form-control">
                </div>

                <div class="d-flex justify-content-center aling-items-center">
                    <button class="btn btn-primary me-4" type="submit">Crear Empleado</button> 
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Volver al inicio</a>
                </div>
                
            </form>
        
        </div>
    </div>
</div>
