@model Empleado

@{
    ViewData["Title"] = "Login";
}
<form asp-action="Login" method="post">
    
    <label for="">Email:</label>
    <input type="email" asp-for="Email" class="form-control">
    <label  for="">Password:</label>
    <input type="password" asp-for="Password" class="form-control">
    <button class="btn btn-primary" type="submit" >Iniciar sesion</button> 
       
</form>

<div>@ViewBag.Error</div>